body {
    line-height: 1.9;
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    /* background-color: #474554 !important; */
}


html {
    scroll-behavior: smooth;
}

.navbar{
    background-color: #44489F !important;
}
.navbar-brand i{
    color: rgb(20,110,190) !important;
}
.nav-item{
    font-size: 20px;
    padding:5px !important;
}
.nav-link{
    font-family: 'Alegreya Sans', sans-serif;
}

section{
    background-image: url('../images/banner-img.6da33f89.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/********* Start Global *********/


.search input:focus-visible {outline:none;}

.btn {transition: all 0.3s;}

.btn:hover {
    color: #5D5DB8;
    background-color: #fff;
    border: 1px solid #5D5DB8;
}
/********* End Global *********/

/********* Start Display Temp *********/ 
.display-temp .search{width: 42%;}
.display-temp #search-bar{
    padding:5px 15px ;
    border: 2px solid #5D5DB8;
    border-radius: 8px;
}
 

.display-temp .temp-card {
    width: 50%;
    height: 300px;
    border-radius: 10px;
}
.display-temp .temp-card:first-of-type{
    background-color: rgba(93, 93, 184,0.6);
}
.display-temp .temp-card:first-of-type h2 {
    font-size: 50px;
    font-weight: 600;
}
.display-temp .temp-card:first-of-type .day-and-date{
    background-color: #44489F;
}
.display-temp .temp-card:nth-of-type(2) {
    margin-left: 2%;
    margin-right: 2%;
}
.display-temp .temp-card:nth-of-type(2),
.display-temp .temp-card:nth-of-type(3){
    background-color: rgba(154, 148, 202,0.6);
    transition: all 0.3s;
}
.display-temp .temp-card:nth-of-type(2):hover,
.display-temp .temp-card:nth-of-type(3):hover{background-color: rgba(93, 93, 184,0.6);}
.display-temp .temp-card .day-and-date {
    background-color: #44489F;
    color: #fff;
    padding: 10px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.display-temp .temp-card .day-and-date p {margin: 0 !important;}

.display-temp .temp-card #location {
    font-size: 22px;
    text-shadow: 0 0 1px #fff,  0 0 1px #fff
}

.display-temp .temp-card .temp-datails {
    padding: 25px;
    color: #fff;
}
.display-temp .temp-card .temp-datails #today-description,
.display-temp .temp-card .temp-datails .nextDay-description {
    font-size: 14px;
    color: #455a64;
    text-shadow: 0 0 1px #455a64,  0 0 1px #455a64;
}
.desc{
    color: #FEFEDF !important;
}
/*

.display-temp .temp-card .temp-datails #today-description,
.display-temp .temp-card .temp-datails .nextDay-description {
    font-size: 14px;
    color: #455a64;
    text-shadow: 0 0 1px #455a64,  0 0 1px #455a64;
} */
/* Small to Medium Screen */
 /* @media (max-width: 991px) 
{ */
 

    /* Display Temp */
    /* .display-temp .city-temp {display: block !important;}

    .display-temp #search-bar {margin-bottom: 10px !important;}

    .display-temp .search,
    .display-temp .temp-card {
        width: 100%;
        margin: 20px 0 !important;
    }

    
}  */
/********* End Display Temp *********/ 




/********* Start Footer *********/ 
footer {
    background-color:#44489F;
    padding: 10px 0;
}

footer i {
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}


footer i:hover {color: #37aec3;}
/********* End Footer *********/ 
